name: "tagged-release"

on:
  push:
    tags:
      - "v*"

jobs:
  tagged-release:
    name: "Tagged Release"
    runs-on: "ubuntu-20.04"

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - uses: egor-tensin/setup-mingw@v2
      - run: sudo apt-get install valgrind yasm cpanminus nsis asciidoc source-highlight
      - run: sudo cpanm File::Slurp Digest::MD5
      - run: make CROSSMINGW=yes all installer windows-zip
      - uses: "marvinpinto/action-automatic-releases@v1.2.1"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            build.mingw/Tundra-Binaries.zip
            build.mingw/Tundra-Setup.exe
